{% extends 'base.html' %}

{% block title %}My account{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">My account</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <form method="post" novalidate enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'includes/new_topic_form.html' with form=user_update_form %}
                {% include 'includes/new_topic_form.html' with form=profile_update_form %}
                <button type="submit" class="btn btn-success">Save changes</button>
            </form>
        </div>
    </div>
{% endblock %}